html{
scroll-behavior:smooth;
}

body{
margin:0;
font-family:Arial;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
background:black;
color:white;
padding:15px 40px;
}

nav ul{
display:flex;
list-style:none;
gap:20px;
}

nav ul li a{
color:white;
text-decoration:none;
font-weight:bold;
}

.hero{
text-align:center;
padding:100px;
background:lightblue;
}

.profile-img{
width:150px;
height:150px;
border-radius:50%;
margin-bottom:20px;
object-fit:cover;
border:3px solid white;
}

.hero h1{
font-size:40px;
}

button{
padding:10px 20px;
background:black;
color:white;
border:none;
cursor:pointer;
margin-top:10px;
}

.about, .services, .projects, .contact{
padding:60px;
text-align:center;
}

.services{
background:#f4f4f4;
}

.service-box{
display:inline-block;
width:220px;
padding:20px;
margin:15px;
border:1px solid #ddd;
}

.projects{
background:#fafafa;
}

.project-box{
display:inline-block;
width:220px;
padding:20px;
margin:15px;
border:1px solid #ddd;
}

.contact{
background:#f4f4f4;
}

.whatsapp-button{
position:fixed;
bottom:20px;
right:20px;
background:#25D366;
color:white;
padding:12px 20px;
border-radius:30px;
text-decoration:none;
font-weight:bold;
box-shadow:0 4px 10px rgba(0,0,0,0.3);
}
